@txtcolor = #000;
.container{
	max-width:800px;
	margin:100px auto 0;
}

.loader-item{
	margin:0 0 20px;

	.loader {
	    background: #fafafa;
	    border: 1px solid #ccc;
	    height: 20px;
	    margin: 0 0 10px;
	    max-width: 500px;
	    padding: 5px;
	    position: relative;
	    width: 100%;
	    overflow:hidden;

	    .load-animate{
		    display: table;
		    height: 100%;
		    transition: all 0.2s linear 0s;
		}
		.loading-text{
		    color: @txtcolor;
		    height: 20px;
		    left: 50%;
		    margin-left: -50px;
		    margin-top: -10px;
		    position: absolute;
		    text-align: center;
		    top: 50%;
		    width: 100px;
		    z-index: 2;
		}
	}
}